/*======================================
  Sliders
======================================*/

.banners-slide {
  margin: get-vw-lg(127px) 0 get-vw-lg(20px) 0;
  border-radius: get-vw-lg(6px);
  overflow: hidden;
  div {
    font-size: 0;
  }
  .item {
    img {
      display: block;
    }
  }
  .slick-arrow {
    position: absolute;
    bottom: get-vw-lg(24px);
    width: get-vw-lg(40px);
    height: get-vw-lg(40px);
    border-radius: 50%;
    border: 1px solid #4D4D4D;
    background: rgba(0, 0, 0, 0.3);
    font-size: get-vw-lg(24px);
    color: $color-white;
    z-index: 10;
    &.slick-prev {
      right: get-vw-lg(81px);
    }
    &.slick-next {
      right: get-vw-lg(24px);
    }
  }
}