/*======================================
  Blog
======================================*/

.hero-internal {
  padding: 77px 0 187px 0;
  background: $color-black;
  .grid {
    @include columns( $quant: 1.475fr 1fr, $gutter: 0, $align: end, $template: '');
    .item {
      .title {
        @include font($size: 72px, $weight: 700, $height: 82.8px, $color: $color-white);
        text-transform: uppercase;
      }
      .description {
        @include font($size: 24px, $weight: 400, $height: 36px, $color: $color-white);
        padding: 0 2px 6px 0;
      }
    }
  }
}