/*======================================
  Main structure
======================================*/

body {
  //background: url(../images/bg.png) top center no-repeat;
  //background-size: cover;
}

// header
header {
  border-bottom: 1px solid $color-dark-gray;
  background: $color-black;
  .grid {
    @include columns( $quant: 156px 1fr, $gutter: 12px, $align: center, $template: 'logo menu' 'search search');
    padding: 12px 0 12px 0;
    .logo {
      grid-area: logo;
      a {
        width: 156px;
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .search {
      grid-area: search;
      .box-search {
        width: 100%;
        height: 44px;
        border-radius: 6px;
        background-color: $color-dark-gray;
        position: relative;
        .icon {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 12px;
          left: 11px;
          fill: transparent;
          stroke: #A3A3A3;
          stroke-width: 1.5px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        input {
          width: 100%;
          height: 100%;
          background: transparent;
          @include font($size: 16px, $weight: 400, $height: 19.36px, $color: #616267);
          border: none;
          padding: 0 15px 0 55px;
        }
      }
    }
    .social-media {
      display: none;
    }
    .menu {
      grid-area: menu;
      text-align: right;
      a {
        @include flex($type: inline, $align: center, $justify: start, $gap: 8px);
        @include font($size: 12px, $weight: 400, $height: 14.52px, $color: $color-white);
        letter-spacing: 1px;
        .icon {
          width: 24px;
          height: 24px;
          fill: #5C832F;
          @include animate($time:0.3s);
        }
        &:hover {
          .icon {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .grid-menu {
    display: none;
  }
}
// end header

// menu-sidebar
.menu-sidebar {
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  @include animate($time:0.3s, $delay:0.2s);
  .menu {
    @include animate($time:0.3s, $delay:0s);
    transform: translate(-560px, 0);
    background: #000000;
    //background: #000000 url(../images/bg-menu.png) top center no-repeat;
    width: 100%;
    height: 100vh;
    padding-right: 5px;
    border-right: 1px solid #1F1F1F;
    .top {
      width: 100%;
      height: 60px;
      padding: 16px 0 0 16px;
      position: relative;
      .logo {
        width: 180px;
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
      .close {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #1F1F1F;
        position: absolute;
        top: 16px;
        right: 16px;
        @include flex($align: center, $justify: center);
        @include animate($time:0.3s);
        .icon {
          width: 18px;
          height: 18px;
          fill: transparent;
          stroke: $color-white;
          stroke-width: 2px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .body {
      width: 100%;
      height: calc(100vh - 60px);
      padding: 16px 16px 16px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 20px;
        margin-right: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #1F1F1F;
        border-radius: 20px;
        width: 4px;
      }
      &>ul {
        &>li {
          border-bottom: 1px solid #1F1F1F;
          padding: 20px 0;
          &>a {
            @include flex($align: center, $justify: space-between);
            @include font($size: 16px, $weight: 400, $height: 19.36px, $align: left, $color: $color-white);
            text-transform: uppercase;
            letter-spacing: 1px;
            .icon {
              width: 24px;
              height: 24px;
              transform: rotate(180deg);
              @include animate($time:0.3s);
            }
            &:hover {
              color: #5C832F;
            }
          }
          &.open {
            &>a {
              .icon {
                transform: rotate(0deg);
              }
            }
            /*&>ul {
              display: block;
            }*/
          }
          &>ul {
            padding: 10px 16px 0 16px;
            display: none;
            &>li {
              padding: 8px 0;
              &>a {
                @include font($size: 16px, $weight: 400, $height: 19.36px, $align: left, $color: #A3A3A3);
                &:hover {
                  color: #5C832F;
                }
              }
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  &.menu-open {
    opacity: 1;
    visibility: visible;
    @include animate($time:0.3s);
    .menu {
      @include animate($time:0.3s, $delay:0.2s);
      transform: translate(0px, 0);
    }
  }
}
// end menu-sidebar

// main
main {
  padding: 0 0 32px 0;
}
// end main

// footer
footer {
  padding: 29px 0 29px 0;
  background: $color-black;
  .grid {
    @include columns( $quant: 1fr, $gutter: 16px, $align: center, $template: '');
    .logo {
      max-width: 268px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .copyright {
      p {
        @include font($size: 14px, $weight: 700, $height: 21px, $align: left, $color: $color-white);
        letter-spacing: -0.2px;
        span {
          padding: 0;
          display: block;
          height: 15px;
          border: 0;
          font-size: 0;
        }
        a {
          text-decoration: underline;
        }
      }
    }
    .signature {
      padding: 16px 0 0 0;
      p {
        @include font($size: 14px, $weight: 700, $height: 21px, $align: left, $color: $color-white);
        letter-spacing: -0.2px;
        a {
          &:hover {
            color: $color-green;
          }
          &.upsites {
            display: inline-flex;
            span {
              @include animate($time: 0.3s);
              position: relative;
              &:hover {
                top: -4px;
              }
            }
            span:hover + span {
              top: -2px !important;
            }
            span:has(+ span:hover) {
              top: -2px !important;
            }
          }
        }
      }
    }
  }
}
// end footer