/*======================================
  Post
======================================*/

.post-internal {
  padding: 58px 0 0 0;
  article {
    .grid {
      @include columns( $quant: 2.07fr 1fr, $gutter: 55px 24px, $align: start, $template: 'title title' 'post sidebar');
      .box-title {
        grid-area: title;
        .tag {
          @include font($size: 12px, $weight: 600, $height: 14.52px, $color: $color-green);
          letter-spacing: 1px;
          text-transform: uppercase;
          display: block;
          padding: 17px 0 25px 0;
        }
        .title {
          @include font($size: 40px, $weight: 700, $height: 52px, $color: $color-black);
          max-width: 780px;
          padding: 0 0 24px 0;
        }
        .box-infos{
          @include flex($align: center, $justify: start, $gap: 12px);
          .box-avatar {
            @include flex($align: center, $justify: start, $gap: 8px);
            .avatar {
              width: 32px;
              height: 32px;
              background-color: #E8E8E8;
              border-radius: 50%;
            }
            .by {
              @include font($size: 12px, $weight: 600, $height: 14.52px, $color: #A3A3A3);
              text-transform: uppercase;
              border-right: 1px solid #E8E8E8;
              padding: 0 12px 0 0;
              a {
                color: $color-black;
              }
            }
          }
          .date {
            @include flex($align: center, $justify: start, $gap: 6px);
            @include font($size: 12px, $weight: 600, $height: 14.52px, $color: #A3A3A3);
            text-transform: uppercase;
            .icon {
              width: 16px;
              height: 16px;
              fill: transparent;
            }
          }
        }
      }
      .post {
        grid-area: post;
        .image {
          width: 100%;
          margin: 0 0 64px 0;
          img {
            max-width: 100%;
            height: auto;
          }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @include font($family: $font-alt, $size: 40px, $weight: 700, $height: 38.73px, $color: $color-black);
          padding: 31px 0 23px 0;
        }
        h1 {
          font-size: 40px;
        }
        h2 {
          font-size: 32px;
        }
        h3 {
          font-size: 28px;
        }
        h4 {
          font-size: 24px;
        }
        h5 {
          font-size: 20px;
        }
        h6 {
          font-size: 18px;
        }
        picture {
          width: 100%;
          text-align: center;
          padding: 53px 0 80px 0;
          display: block;
          img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
          }
        }
        .wp-caption {
          max-width: 100%;
          width: auto !important;
          height: auto;
          img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
          }
          p {
            font-size: 14px;
            text-align: right;
            font-style: italic;
          }
        }
        pre,p {
          @include font($size: 18px, $height: 27px, $color: #616267);
          padding: 0 0 26px 0;
          b,strong {
            font-weight: bold;
          }
          i, em {
            font-style: italic;
          }
          img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
          }
          a {
            color: $color-red;
            font-weight: bold;
            &:hover {
              color: $color-black;
            }
          }
        }
        ul {
          list-style: inside disc;
          padding: 0 16px 28px 4px;
          li {
            list-style: inside disc;
            @include font($size: 16px, $height: 25.6px, $color: #616267);
            padding: 0 0 8px 0;
            b,strong {
              font-weight: bold;
            }
            i, em {
              font-style: italic;
            }
            &::marker {
              color: $color-green;
            }
          }
        }
        ol {
          list-style: inside decimal;
          padding: 0 16px 28px 4px;
          li {
            list-style: inside decimal;
            @include font($size: 16px, $height: 25.6px, $color: #616267);
            padding: 0 0 8px 0;
            b,strong {
              font-weight: bold;
            }
            i, em {
              font-style: italic;
            }
            &::marker {
              color: $color-green;
            }
          }
        }
        blockquote {
          border-left: 2px solid #E8E8E8;
          padding: 39px 18px;
          margin: 46px 0 14px 0;
          @include font($size: 20px, $height: 30px, $color: #616267);
          p {
            @include font($size: 20px, $height: 30px, $color: #616267);
            padding: 0;
          }
        }
        .wp-video {
          position: relative;
          width: 100%;
          height: 0;
          padding-top: 56.2%;
          iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .share {
          border-top: 1px solid #E8E8E8;
          margin: 42px 0 0 0;
          padding: 21px 0 0 0;
          max-width: 655px;
          @include flex($align: center, $justify: space-between, $gap: 6px);
          span {
            @include font($size: 14px, $weight: 600, $height: 21px, $color: #616267);
            text-transform: uppercase;
            letter-spacing: 1px;
          }
          ul {
            @include flex($align: center, $justify: end, $gap: 24px);
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              list-style: none;
              padding: 0;
              margin: 0;
              line-height: 0;
              a {
                display: block;
                .icon {
                  width: 24px;
                  height: 24px;
                  fill: #4D4D4D;
                  @include animate($time:0.3s);
                  &.stroke {
                    fill: transparent;
                    stroke: #4D4D4D;
                    stroke-width: 2px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                  }
                }
              }
            }
          }
        }
      }
      .sidebar {
        grid-area: sidebar;

      }
    }
  }
}