/*======================================
  Sliders
======================================*/

.banners-slide {
  margin: 127px 0 20px 0;
  border-radius: 6px;
  overflow: hidden;
  div {
    font-size: 0;
  }
  .item {
    img {
      display: block;
    }
  }
  .slick-arrow {
    position: absolute;
    bottom: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #4D4D4D;
    background: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    color: $color-white;
    z-index: 10;
    &.slick-prev {
      right: 81px;
    }
    &.slick-next {
      right: 24px;
    }
  }
}